.page {
	padding: 20px;
}

.header {
	background-color: var(--blue);
	padding: 15px 20px;
	color: white;
	border-radius: 5px;
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	gap: 10px;
	justify-content: space-between;
	margin: 0 0 80px 0;
}

.back {
	box-sizing: border-box;
	appearance: none;
	border: 1px solid var(--blue);
	font-family: inherit;
	font-size: 16px;
	font-weight: 500;
	padding: 12px 20px;
	background-color: var(--light-gray);
	color: var(--blue);
	border-radius: 4px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.back:is(:hover, :focus) {
	background-color: var(--dark-gray);
	color: var(--blue);
	cursor: pointer;
}

.load {
	font-weight: 700;
	font-size: 18px;
	color: var(--dark-gray);
}
